<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body class="body">
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/subpage" class="nav-link">Subpage</a></li>
    </ul>
    <ul class="nav-list">
        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Signup</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
    </ul>
</nav>
    </nav>
    <header class="header">
      <h1 class="title">Welcome to My Blog</h1>
    </header>
    <section class="main-content container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Blog Post Title</h5>
              <p class="card-text">
                Some quick example text to build on the blog post title and make
                up the bulk of the card's content.
              </p>
              <a href="subpage.html" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <p class="copyright">&copy; 2023 My Blog</p>
    </footer>
  </body>
</html>
