<%- include('./includes/header.ejs') %>
    <%- include('./includes/navbar.ejs') %>

    <header class="header">
      <h1 class="title">Subpage Title</h1>
    </header>
    <section class="main-content">
        <div class="container-fluid">

      <div class="row">
        <div class="col-lg-10">
          <article class="post">
            <h2 class="post-title">Blog Post Title</h2>
            <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt recusandae maxime esse deleniti tempora doloribus, sunt ut aperiam dicta rerum mollitia provident, et dolor? Commodi pariatur magnam aperiam consequuntur sed! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempora officia saepe maxime ex autem, distinctio expedita? Odio, libero dicta, iste recusandae, dignissimos deleniti ducimus placeat tenetur officia quo ab..</p>
          </article>
        </div>
        <aside class="col-lg-2">
          <div class="aside-content">Ad or other information...</div>
        </aside>
      </div>
      </div>
    </section>
    <%- include('./includes/footer.ejs') %>

  </body>
</html>
