<!DOCTYPE html>
<html>
  <head>
    <title>My Blog - Subpage</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body class="body">
    <nav class="navigation">
        <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/subpage" class="nav-link">Subpage</a></li>
        </ul>
        <ul class="nav-list">
            <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Signup</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
        </ul>
    </nav>
    </nav>
    <header class="header">
      <h1 class="title">Subpage Title</h1>
    </header>
    <section class="main-content">
        <div class="container-fluid">

      <div class="row">
        <div class="col-lg-10">
          <article class="post">
            <h2 class="post-title">Blog Post Title</h2>
            <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt recusandae maxime esse deleniti tempora doloribus, sunt ut aperiam dicta rerum mollitia provident, et dolor? Commodi pariatur magnam aperiam consequuntur sed! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempora officia saepe maxime ex autem, distinctio expedita? Odio, libero dicta, iste recusandae, dignissimos deleniti ducimus placeat tenetur officia quo ab..</p>
          </article>
        </div>
        <aside class="col-lg-2">
          <div class="aside-content">Ad or other information...</div>
        </aside>
      </div>
      </div>
    </section>
    <footer class="footer">
      <p class="copyright">&copy; 2023 My Blog</p>
    </footer>
  </body>
</html>
